body {
	font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}
p {
    margin: 0px;
}
h3, h4, h5 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.green_button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
input {
	width: 300px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

#select_boxes {
	padding-top: 15px;
}

#test_button{
	padding-top: 25px;
}

#search_tab{
	 margin: 5% 0 0 5%;
}

#logo{
	margin-left: 10px;
}

#faq_text{
	color:#000000;
}

#auth_token{
	margin-top: 10%;
	margin-left: 4%;
}

#testing_inputs{
	margin: 15% 0 0 5%;
}

#vulnerability_table{
	margin-top: 10%;
	padding-right: 50px;
	padding-left: 75px;
}
#verified_sites{
	margin-top: 10%;
	padding-right: 100px;
}

#agree_terms_button{
	margin-left: 15px;
	color: white;
}

#disagree_terms_button{
		color: white;
}

#progress{
	margin-top: 5%;
  margin-left: 45%;
}

#result {
	overflow:auto;
}

#cancelButton{
	margin-top: 5%;
  margin-left: 40%;
}

#site_name{
	margin-top: 5%;
  margin-left: 40%;
}